header {
  width: 100%;
  z-index: 1000;
  top: 0;
  background-color: #fff;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 14px;
    padding: 0 24px;
    width: 1152px;
    margin: 0 auto;
    h1 {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 80px;
        width: 1px;
        height: 20px;
        background: #999;
      }
      a {
        display: block;
        width: 55px;
        height: 50px;
        background: url("./BabySpirit_Logo.jpg") no-repeat 0 50%;
        background-size: 55px 60px;
        text-indent: -999em;
      }
      span{
        position: absolute;
        font-size: 16px;
        font-weight: 400;
        top: 8px;
        left: 100px;
        color: #1BC8D3;
        white-space: nowrap;
      }
    }
  }
}
